<h1>Admin Dashboard</h1>

<table class="table table-bordered" style="text-align-last: center;">
  <thead>
    <tr>
      <th>
        <%= link_to 'Products in Database', [:admin, :products] %>
      </th>
      <th>
        <%= link_to 'Categories in Database', [:category, id: 1] %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
       <h4><%= @products %></h4>
      </td>
      <td>
       <h4><%= @categories %></h4>
      </td>
    </tr>
  </tbody>
</table>