<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Products in Database</th>
      <th>Categories in Database</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>Big Number</span>
      </td>
      <td>
        <span>Big Number Again</span>
      </td>
    </tr>
  </tbody>
</table>